/* base style for example html */
* {
    font-family: Mirza;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

  }
.all-stuff, footer{
    background-color: hsl(59, 65%, 61%);
    border: 1rem solid hsl(234, 54%, 57%);
    padding: 10rem;
    margin: 5rem;
}
h1 {
    color: hsl(316, 66%, 23%);
    background-color: hsl(59, 65%, 61%)
  }



  table,
  th,
  td,
  footer {
    border: 1rem solid hsl(234, 54%, 57%);
  } 
  footer{
    margin: -5rem 5rem 5rem;
    padding: 5rem;
  }
  .footer{
    text-align: center;
  }

  
  .topnav {
    margin: 0;
    overflow: hidden;
    background-color: hsl(228, 41%, 35%);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2.5rem 3rem;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .topnav a:hover {
    background-color: hsl(0, 0%, 87%);
    color: black;
  }
  
  .topnav a.active {
    background-color: hsl(244, 60%, 53%);
    color: hsl(0, 15%, 95%);
  }
@media (max-width: 700px){
   .rows, .second-row{
        flex-direction: column;

   }

}